
/* 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.logo{
    width: 100px;
    margin: 10px;
    border-radius: 80px;
}
.headContainer{
    display: flex;
    justify-content: space-between;
    background-color: hsl(149, 74%, 92%);
    margin: 10px;
    height: 125px;
}

.li-items{
    display: flex;
}


.li-items>li{
    margin: 45px 0px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    /* border: 1px solid black; */
    /* list-style: none; */
    text-decoration: none;
    color: black;
    /* text-underline-offset:; */
}

.li-items>li:hover{
    border: 1px solid rgb(122, 87, 87);
    cursor: pointer;
    border-radius: 5px;
    
}
#root{
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

.res_card{
    margin: 5px;
    width: 200px;
    /* height: 275px; */
    border: 1px solid black;
    border-radius: 25px;
    background-color: #c5e3cd7d;
}


.res_card:hover{
    border: 2px solid greenyellow ;
}
.res_image{
    width: 90%;
    margin :10px;
    height: 50%;
    /* height: 80px; */
}

.description{
    margin: 10px;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 350px;
    background-color: #c5e3cd7d;
    margin: 8px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-container{
    display: flex; 
    margin-left: 10px                 ;
}

.search-btn{
    margin-left: 10px;
}

.filter-btn{
    margin-left: 125px;
}


.menu{
    margin: 20px;
}

.menu>ul>li{
    list-style: circle;
}

.user{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}